<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView_PList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>302AD5BE1EC4CA42006A4B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302AD5D21EC4CA42006A4B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302AD5DD1EC4CA42006A4B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
